<template>
  <v-app>
    <v-app-bar
      app
      color="succes"
      dark
    >
      <div class="d-flex align-center ">
        <h1>Construrama</h1>
      </div>

      <v-spacer></v-spacer>

      <div>
        <v-btn
        href=""
        target="_blank"
        text
        class="ma-3"
        >
        Calculadora
        </v-btn>
        <v-btn
        href=""
        target="_blank"
        text
        class="ma-3"
        >
        Capacitate
        </v-btn>
        <v-btn
        href=""
        target="_blank"
        text
        class="ma-3"
        >
        Contactanos
        </v-btn>
      </div>

      <v-btn
        href=""
        target="_blank"
        color="orange"
        class="ma-3"
      >
      Iniciar Sesión
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>


export default {
  name: 'App',

  data: () => ({

  }),
};
</script>
