<template>
  <v-content
    style="padding: 0px 0px 0px;"
    >
    <!-- IMAGEN -->
    <div>
    <v-img
      width="100%"
      height="500"
      class="mb-5 pa-0"
      src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
    >
    <v-card-title style="margin-top: 370px"><h1>Bienvenidos a Construrama</h1></v-card-title>
    </v-img>
    </div>
    <!-- Herramientas -->
    <div style="margin: 120px 0px 120px 0px">
      <div
      style="margin: 0px 0px 30px 80px"
      >
          <h1>Herramientas</h1>
      </div>
      <div
      style="padding: 0px 60px 0px 60px"
      >
      <v-row justify="space-between">
        <v-col>
          <v-card tile>
            <v-list-item
            class="d-flex justify-center">
              <v-list-item-avatar
                tile
                size="80"
                color="grey">
                </v-list-item-avatar>
                <v-text>Calculadora de cemento y mortero</v-text>
            </v-list-item>
          </v-card>
        </v-col>
        <v-col>
          <v-card
          class="d-flex justify-center"
          >
            <v-list-item
            class="d-flex justify-center">
            <v-list-item-avatar
              tile
              size="80"
              color="grey">
              </v-list-item-avatar>
              <v-text>Aliados Construrama</v-text>
            </v-list-item>
          </v-card>
        </v-col>
      </v-row>
      </div>
    </div>
    <!-- Capcitate -->
    <div style="margin: 50px 0px 50px 0px"
      
    >
      <div
      style="margin: 50px 0px 30px 80px"
      >
        <h1>Capacitate</h1>
      </div>
      <div
      style="margin: 80px 200px 80px 200px"
      >
        <v-row>
          <v-col>
              <v-card
                class="mx-auto"
                max-width="300"
              >
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                  height="200px"
                ></v-img>
                <v-card-subtitle style="padding-bottom:0px;">Reglamentos</v-card-subtitle>
                <v-card-title>Aplicacion de Reglamento de seguridad</v-card-title>
                <v-card-text>24 de Octubre</v-card-text>
              </v-card>
          </v-col>
          <v-col >
              <v-card
                class="mx-auto"
                max-width="300"
              >
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                  height="200px"
                ></v-img>
                <v-card-subtitle style="padding-bottom:0px;">Reglamentos</v-card-subtitle>
                <v-card-title>Lectura de planos y <br> restricciones</v-card-title>
                <v-card-text>24 de Octubre</v-card-text>
              </v-card>
          </v-col>
          <v-col  >
              <v-card
                class="mx-auto"
                max-width="300"
              >
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                  height="200px"
                ></v-img>
                <v-card-subtitle style="padding-bottom:0px;">Arquitectura</v-card-subtitle>
                <v-card-title>Ampliacion de espacio<br> limitados</v-card-title>
                <v-card-text>24 de Octubre</v-card-text>
              </v-card>
          </v-col>
          <v-col >
              <v-card
                class="mx-auto"
                max-width="300"
              >
                <v-img
                  src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                  height="200px"
                ></v-img>
                <v-card-subtitle style="padding-bottom:0px;">Albañileria</v-card-subtitle>
                <v-card-title>Cementos, mortero y <br>tecnicas de construccion</v-card-title>
                <v-card-text>24 de Octubre</v-card-text>
              </v-card>
          </v-col>
        </v-row>
      </div>
      <div class="d-flex justify-center" style="margin: 0px 0px 50px 0px">
        <v-btn outlined>Ver mas Cursos</v-btn>
      </div>
    </div>
    <!-- Footer -->
    <v-footer
    dark
    padless
    class="d-flex justify-around"
    >
    <v-card
    width="100%"
    flat
    tile
    class=" white--text text-center"
    >
      <div class="d-flex">
      <v-card 
      style="padding: 0px 0px 0px 40px;">
        <v-list-item
        class="d-flex justify-start">
          <v-list-item-avatar
            tile
            size="80"
            color="grey">
            </v-list-item-avatar>
        </v-list-item>
      </v-card>  
      <v-card-text class="d-flex justify-start">
        Terminos generales de uso <br> 
        Aviso de privacidad <br>
        Politicas de devolucion
      </v-card-text>
      <v-card-text class="d-flex justify-end align-center">
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-text>
      </div>

      <v-divider></v-divider>

      <div class="d-flex " style="padding: 0px 40px 0px 40px;">
      <v-card-text class="d-flex white--text justify-start">
        {{ new Date().getFullYear() }} — <strong>Construrama. Todos los derechos reservados</strong>
      </v-card-text>
      <v-card-text class="d-flex justify-end">
        <strong>Desarrollado por Startapps</strong>
      </v-card-text>
      </div>
    </v-card>
  </v-footer>
  </v-content>
</template>

<script>
  export default {
    name: 'HelloWorld',
    data: () => ({
      icons: [
        'mdi-facebook',
        'mdi-instagram',
        'mdi-twitter',
        'mdi-youtube',
      ],
    }),
  }
</script>
